.SpecialPackage {
  .container {
    width: 90%;
    margin: 0 auto;
    .title {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 96px;
      text-align: center;
      color: #07484a;
      padding-bottom: 103px;
    }

    .flexed {
      display: flex;
      align-items: center;
      gap: 100px;

      .left {
        width: 50%;

        img.giyos1 {
          max-width: 100%;
          background: url(pexels-taryn-elliott-4112601.jpg);
          border-radius: 16px;
        }

        .afterImg {
          .personName {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 49px;
            color: #07484a;
            padding: 32px 0 21px 0;
          }

          .starImg {
            width: 248.98px;
            height: 39.12px;
          }

          .price {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 115%;
            letter-spacing: -0.02em;
            color: #07484a;
            margin-top: 21px;
          }
        }
      }

      .description {
        width: 50%;

        .decs {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 115%;
          letter-spacing: -0.02em;
          color: #07484a;

          .decTitle {
            display: block;
            font-size: 30px;
            margin-bottom: 20px;
          }
        }

        p.seeMore {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 115%;
          letter-spacing: -0.02em;
          color: #000000;
          padding: 25px 0 40px 0;
        }

        .cards {
          height: 400px;
          width: 100%;
          background-color: #fff;
          overflow-y: scroll;
          overflow-x: hidden;
          
          
          .card {
            display: flex;
            align-items: flex-start;
            gap: 17px;
            margin-bottom: 20px;
            transition: .5s;
            overflow: visible;
            cursor: pointer;

            .about {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding: 20px;
              gap: 24px;
              width: 393px;
              height: 183px;
              border-radius: 10px;
              background: #fff;

              .inAbout {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .room {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 30px;
                  color: #07484a;
                }

                .room + p {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 115%;
                  letter-spacing: -0.02em;
                  color: #07484a;
                }
              }

              .seeDetail {
                text-decoration: underline;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 115%;
                letter-spacing: -0.02em;
                text-decoration-line: underline;
                color: #07484a;
              }
            }

            &:hover {
              transform: scale(1.1);
              overflow: visible;
              .about {
                background-color: #e0f6f1;
              }
            }
          }

          &::-webkit-scrollbar{
            width: 3px;
            background-color: #07484A;
          }

          &::-webkit-scrollbar-thumb{
            width: 50px;
            border-radius: 50px;
            background-color: #70908B;
          }
        }
      }
    }
  }
}
