* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}
html .container {
  max-width: 1620px;
  width: 100%;
}

.abdulloh .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 4rem;
}
.abdulloh .header__container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.abdulloh .header__container #checkbox, .abdulloh .header__container label, .abdulloh .header__container .none {
  display: none;
  font-size: 3.1rem;
  color: white;
}
.abdulloh .header__container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.abdulloh .header__container__nav li a {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132.9%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.abdulloh .header__container__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.8rem;
}
.abdulloh .header__container__socials li a {
  font-size: 2.7rem;
  color: white;
}

.abdulloh .showcase {
  padding: 35.3rem 4rem;
  background: url(../images/bg-show.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
}
.abdulloh .showcase__container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
}
.abdulloh .showcase__container h1 {
  max-width: 66.8rem;
  width: 100%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484A;
}
.abdulloh .showcase__container p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484A;
  margin-top: 5.2rem;
}
.abdulloh .showcase__container a {
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FDFBF8;
  padding: 2.3rem 5.4rem;
  background: #70908B;
  border-radius: 10px;
  margin-top: 5.4rem;
  transition: 0.4s;
}
.abdulloh .showcase__container a:hover {
  color: #70908B;
  background-color: white;
}

.abdulloh .explore {
  width: 100%;
  padding: 26rem 4rem 0;
}
.abdulloh .explore h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484A;
  text-align: center;
}
.abdulloh .explore__container {
  max-width: 1620px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 6rem;
  margin-top: 10rem;
}
.abdulloh .explore__container__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.abdulloh .explore__container__left form {
  width: 100%;
  background: #F0F0F0;
  border-radius: 10px;
  padding: 2.7rem 3.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.abdulloh .explore__container__left form i {
  font-size: 2.4rem;
}
.abdulloh .explore__container__left form input[type=text] {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6E757E;
  background-color: transparent;
  border: none;
  outline: none;
}
.abdulloh .explore__container__left__wrap {
  width: 100%;
  margin-top: 8rem;
  overflow-y: scroll;
  max-height: 682px;
  min-height: 682px;
  padding: 0 1rem;
}
.abdulloh .explore__container__left__wrap::-webkit-scrollbar {
  width: 4px;
  background-color: #07484A;
}
.abdulloh .explore__container__left__wrap::-webkit-scrollbar-thumb {
  background-color: #70908B;
  width: 100%;
}
.abdulloh .explore__container__left__wrap ul {
  width: 100%;
}
.abdulloh .explore__container__left__wrap ul li {
  width: 100%;
}
.abdulloh .explore__container__left__wrap ul li a {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484A;
}
.abdulloh .explore__container__left .btn {
  max-width: 26.4rem;
  width: 100%;
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 3.2rem 2rem;
  background: #70908B;
  border-radius: 10px;
  margin-top: 5.4rem;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.abdulloh .explore__container__left .btn:hover {
  color: #70908B;
  background-color: white;
}
.abdulloh .explore__container__right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
.abdulloh .explore__container__right__card {
  width: 100%;
  padding: 7.3rem 2rem;
  background: url(../images/card-img.jpeg);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abdulloh .explore__container__right__card h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  color: #FDFBF8;
  transition: 0.4s;
  opacity: 0;
}
.abdulloh .explore__container__right__card a {
  opacity: 0;
  transition: 0.4s;
  margin-top: 3.6rem;
  display: inline-block;
  padding: 1.4rem 4.3rem;
  background: #E0EFF6;
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484A;
}
.abdulloh .explore__container__right__card a:hover {
  background-color: #07484A;
  color: #E0EFF6;
}
.abdulloh .explore__container__right__card:hover h1, .abdulloh .explore__container__right__card:hover a {
  opacity: 1;
}

.SpecialPackage .container {
  width: 90%;
  margin: 0 auto;
}
.SpecialPackage .container .title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #07484a;
  padding-bottom: 103px;
}
.SpecialPackage .container .flexed {
  display: flex;
  align-items: center;
  gap: 100px;
}
.SpecialPackage .container .flexed .left {
  width: 50%;
}
.SpecialPackage .container .flexed .left img.giyos1 {
  max-width: 100%;
  background: url(pexels-taryn-elliott-4112601.jpg);
  border-radius: 16px;
}
.SpecialPackage .container .flexed .left .afterImg .personName {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #07484a;
  padding: 32px 0 21px 0;
}
.SpecialPackage .container .flexed .left .afterImg .starImg {
  width: 248.98px;
  height: 39.12px;
}
.SpecialPackage .container .flexed .left .afterImg .price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #07484a;
  margin-top: 21px;
}
.SpecialPackage .container .flexed .description {
  width: 50%;
}
.SpecialPackage .container .flexed .description .decs {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #07484a;
}
.SpecialPackage .container .flexed .description .decs .decTitle {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
.SpecialPackage .container .flexed .description p.seeMore {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 25px 0 40px 0;
}
.SpecialPackage .container .flexed .description .cards {
  height: 400px;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
.SpecialPackage .container .flexed .description .cards .card {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  margin-bottom: 20px;
  transition: 0.5s;
  overflow: visible;
  cursor: pointer;
}
.SpecialPackage .container .flexed .description .cards .card .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 24px;
  width: 393px;
  height: 183px;
  border-radius: 10px;
  background: #fff;
}
.SpecialPackage .container .flexed .description .cards .card .about .inAbout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SpecialPackage .container .flexed .description .cards .card .about .inAbout .room {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #07484a;
}
.SpecialPackage .container .flexed .description .cards .card .about .inAbout .room + p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #07484a;
}
.SpecialPackage .container .flexed .description .cards .card .about .seeDetail {
  text-decoration: underline;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #07484a;
}
.SpecialPackage .container .flexed .description .cards .card:hover {
  transform: scale(1.1);
  overflow: visible;
}
.SpecialPackage .container .flexed .description .cards .card:hover .about {
  background-color: #e0f6f1;
}
.SpecialPackage .container .flexed .description .cards::-webkit-scrollbar {
  width: 3px;
  background-color: #07484A;
}
.SpecialPackage .container .flexed .description .cards::-webkit-scrollbar-thumb {
  width: 50px;
  border-radius: 50px;
  background-color: #70908B;
}

footer {
  padding: 10rem 4rem 3rem;
  gap: 20rem;
}
footer .container {
  margin: 0 auto;
  max-width: 1620px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  gap: 10rem;
}
footer .container__left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .container__left .row {
  display: flex;
  gap: 3rem;
}
footer .container__left .row__icons {
  font-size: 3rem;
  color: #07484a;
}
footer .container__left .content {
  font-size: 2rem;
}
footer .container__right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .abdulloh .header {
    padding: 2.6rem 4rem;
  }
  .abdulloh .header__container label {
    display: inline-block;
  }
  .abdulloh .header__container #checkbox:checked ~ .header__container__nav {
    top: 0;
  }
  .abdulloh .header__container__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 0 7rem;
    background-color: white;
    z-index: 100;
    left: 0;
    top: -100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s;
    gap: 2.4rem;
  }
  .abdulloh .header__container__nav .xmark {
    display: inline-block;
    color: #000000;
    position: absolute;
    top: 3.5rem;
    align-self: center;
    font-size: 2.5rem;
  }
  .abdulloh .header__container__nav li a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    color: #000000;
  }
  .abdulloh .showcase {
    padding: 17.6rem 4rem;
  }
  .abdulloh .showcase__container h1 {
    max-width: 50rem;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #07484A;
  }
  .abdulloh .showcase__container p {
    font-size: 24px;
    line-height: 33px;
    margin-top: 1.6rem;
  }
  .abdulloh .showcase__container a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  .abdulloh .explore {
    padding: 10rem 3.4rem 0;
  }
  .abdulloh .explore h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  .abdulloh .explore__container {
    margin-top: 3.6rem;
    grid-template-columns: 1fr;
  }
  .abdulloh .explore__container__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .abdulloh .explore__container__left form {
    max-width: 46.3rem;
  }
  .abdulloh .explore__container__left__wrap {
    margin-top: 3.6rem;
    overflow: visible;
    max-height: auto;
    min-height: auto;
  }
  .abdulloh .explore__container__left__wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  .abdulloh .explore__container__left__wrap ul li {
    width: auto;
  }
  .abdulloh .explore__container__left__wrap ul li:nth-child(7) ~ li {
    display: none;
  }
  .abdulloh .explore__container__left__wrap::-webkit-scrollbar {
    display: none;
  }
  .SpecialPackage .conatiner .flexed {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .abdulloh .header {
    padding: 2.6rem 2rem;
  }
  .abdulloh .header__container__nav {
    padding: 0 5rem;
  }
  .abdulloh .header__container__nav li a {
    font-weight: 600;
    font-size: 47px;
    line-height: 64px;
  }
  .abdulloh .showcase {
    padding: 17.6rem 2rem;
  }
  .abdulloh .explore {
    padding: 10rem 2rem 0;
  }
  .abdulloh .explore__container__right__card {
    padding: 5rem 0;
  }
  .abdulloh .explore__container__right__card h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
  }
}
@media (max-width: 492px) {
  .abdulloh .header__container .logo {
    display: none;
  }
  .abdulloh .header__container .none {
    display: block;
    height: 2.6rem;
  }
  .abdulloh .header__container__socials {
    gap: 1.2rem;
    font-size: 2.1rem;
  }
  .abdulloh .header__container__nav {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7rem 3rem;
    gap: 1.6rem;
  }
  .abdulloh .header__container__nav li a {
    font-size: 3rem;
  }
  .abdulloh .showcase {
    padding: 20rem 1.6rem;
  }
  .abdulloh .showcase__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .abdulloh .showcase__container h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    align-items: center;
  }
  .abdulloh .showcase__container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }
  .abdulloh .showcase__container a {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding: 1.6rem 4rem;
  }
  .abdulloh .explore__container__left__wrap ul {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.7rem;
  }
  .abdulloh .explore__container__left__wrap ul li a {
    padding: 0.5rem 1.2rem;
    background-color: aliceblue;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .abdulloh .explore__container__right {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
